{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block css %}
<style>
    .intro {
        height: 100%;
    }

    @media (min-height: 300px) and (max-height: 450px) {
        .intro {
            height: auto;
        }
    }

    .gradient-custom {
        background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
        background-blend-mode: screen, color-dodge, overlay, difference, normal;
    }

    .fas.fa-laptop {
        font-size: 19rem;
    }

    @media (max-width: 991px) {
        .fas.fa-laptop {
            font-size: 100rem;
        }
    }

    ;
</style>
{% endblock %}

{% block body %}
<form method="post">
    <section class="intro">
        <div class="mask d-flex align-items-center h-100 gradient-custom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-10">
                        <div class="card">
                            <div class="card-body p-5">
                                {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')
                                    }}</div>
                                {% endif %}

                                {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                                </div>
                                {% endif %}
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-4">

                                        <div class="text-center pt-md-5 pb-5 my-md-5" style="padding-right: 24px;">
                                            <i class="fas fa-laptop fa-8x" style="color: #D6D6D6;"></i>
                                        </div>

                                    </div>
                                    <div class="col-md-8  text-center">

                                        <h2 class="fw-bold mb-4 pb-2">Member Login</h2>

                                        <div class="form-outline mb-3">
                                            <input class="form-control form-control-lg" type="email"
                                                value="{{ last_username }}" name="email" id="inputEmail"
                                                class="form-control" autocomplete="email" required autofocus>
                                            <label class="form-label" for="inputEmail">Email</label>
                                        </div>

                                        <div class="form-outline mb-4">

                                            <input type="password" name="password" id="inputPassword"
                                            class="form-control form-control-lg" autocomplete="current-password" required>
                                            <label class="form-label" for="inputPassword">Password</label>
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <div class="text-center">
                                            <button class="btn btn-info btn-block btn-lg" type="submit">Login</button>
                                            <p class="small mt-3 mb-4 text-muted">Forgot <span class="fw-bold"><a
                                                        href="#!" class="text-muted">Username</a> / <a href="#!"
                                                        class="text-muted">Password</a>?</span></p>
                                            <a href="#!" class="link-info">Create your Account <i
                                                    class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
        autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
        required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}

    {# <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button> #}
</form>
{% endblock %}