{% extends "super.html.twig" %}
{% block title %}
{{enfant.nom ~ ' ' ~ enfant.prenom}}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="card mt-2 border mb-2">
                <div class="card-header">
                    {{enfant.nom ~ ' ' ~ enfant.prenom}}
                </div>
                <div class="card-body">
                    <img src="{{ asset(enfant.photo) }}" alt="{{enfant.nom ~ ' ' ~ enfant.prenom}}" style="height: 200px;margin-bottom:10px"/>

                    {{form_start(form)}}
                    {{form_widget(form)}}
                    <button type="submit" class="btn btn-success"> {% trans %}Add{% endtrans %} <i class="fas fa-plus ms-1"></i></button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}